---
interface Props {
  href?: string;
  type?: "button" | "submit" | "reset";
  size?: "default" | "small" | "nav-menu";
  variant?: "primary" | "outline" | "link" | "text";
  shape?: "default" | "icon" | "circle" | "icon-circle";
  block?: boolean;
  popovertarget?: string;
  target?: "_blank" | "_top" | "_parent" | "_self";
  class?: string;
}

const {
  href,
  popovertarget,
  target,
  type = "button",
  size = "default",
  variant = "primary",
  shape = "default",
  block = false,
  class: className,
  ...attrs
} = Astro.props as Props;

const classes = [
  "_btn",
  size !== "default" && `_btn--${size}`,
  variant !== "primary" && `_btn--${variant}`,
  (shape === "icon" || shape === "icon-circle") && "_btn--icon",
  (shape === "circle" || shape === "icon-circle") && "_btn--circle",
  block && "_btn--block",
  className,
]
  .filter(Boolean)
  .join(" ");
---

{
  href ? (
    <a href={href} target={target} class={classes} {...attrs}>
      <slot />
    </a>
  ) : (
    <button
      popovertarget={popovertarget}
      type={type}
      class={classes}
      {...attrs}
    >
      <slot />
    </button>
  )
}

<style>
  ._btn {
    font-feature-settings: "liga" off;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    height: 48px;
    border: 2px solid var(--primary-color);
    border-radius: 24px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    font-family: var(--font-primary), sans-serif;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    transition:
      border-color var(--delay) var(--timing-func),
      color var(--delay) var(--timing-func),
      background-color var(--delay) var(--timing-func);
  }

  ._btn :global(svg rect),
  ._btn :global(svg path) {
    transition: all var(--delay) var(--timing-func);
  }

  ._btn:hover {
    background-color: transparent;
    color: var(--primary-color);
  }

  ._btn--small {
    height: 36px;
    border-radius: 18px;
    padding: 0 18px;
  }

  ._btn--icon {
    height: 52px;
    padding: 0;
    border-radius: 26px;
  }

  ._btn--icon :global(span) {
    height: 52px;
  }

  ._btn--icon :global(span rect) {
    fill: var(--primary-color);
  }

  ._btn--circle {
    width: 52px;
  }

  ._btn--circle:hover :global(span rect) {
    fill: transparent;
  }

  ._btn--circle:hover :global(span path) {
    fill: var(--primary-color);
    stroke: var(--primary-color);
  }

  ._btn--block {
    width: 100%;
  }

  ._btn--nav-menu {
    height: 36px;
  }

  ._btn--link {
    border-color: transparent;
    background-color: transparent;
    color: var(--primary-color);
  }

  ._btn--text {
    border-color: transparent;
    background-color: transparent;
    color: var(--text-color);
  }

  ._btn--text:hover {
    color: var(--primary-color);
  }

  ._btn--outline {
    border-color: var(--text-color);
    background-color: transparent;
    color: var(--text-color);
  }

  ._btn--outline:hover {
    border-color: var(--primary-color);
  }
</style>
