---
import { Image } from "astro:assets";

interface Props {
  rootClass?: string;
  backgroundColor?: string;
  title: string;
  description?: string;
  image: ImageMetadata;
  imageAlt?: string;
}

const {
  rootClass,
  backgroundColor,
  title,
  description,
  image,
  imageAlt = "",
} = Astro.props as Props;

const classes = ["_horizontal-banner", rootClass].filter(Boolean).join(" ");
const hasDescriptionSlot = Astro.slots.has("description");
const hasFooterSlot = Astro.slots.has("footer");
---

<article class={classes} style={backgroundColor && `background-color: ${backgroundColor}`}>
  <div class="_horizontal-banner__info">
    <h3 class="_horizontal-banner__title">{title}</h3>
    <div class="_horizontal-banner__description">
      {hasDescriptionSlot ? <slot name="description" /> : description && <p>{description}</p>}
    </div>
    {hasFooterSlot && <slot name="footer" />}
  </div>
  <div class="_horizontal-banner__image">
    <Image src={image} alt={imageAlt} />
  </div>
</article>

<style>
  ._horizontal-banner {
    overflow: hidden;
    border-radius: 20px;
    color: var(--white-color);
  }

  ._horizontal-banner__info {
    padding: 60px 0 60px 60px;
  }

  ._horizontal-banner__title {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }

  ._horizontal-banner__description {
    margin: 45px 0 0;
  }

  ._horizontal-banner__description :global(p),
  ._horizontal-banner__description :global(ul) {
    margin: 0;
    font-size: 18px;
    line-height: 156%;
  }

  ._horizontal-banner__description :global(li:not(:last-child)) {
    margin-bottom: 12px;
  }

  :global(._horizontal-banner__bottom-title) {
    margin: 45px 0 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }

  :global(._horizontal-banner__action) {
    margin-top: 40px;
  }

  :global(._horizontal-banner__action-text) {
    margin: 16px 0 0;
    color: rgb(255 255 255 / 70%);
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
  }

  ._horizontal-banner__image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: stretch;
  }

  ._horizontal-banner__image :global(img) {
    max-width: 100%;
    max-height: 100%;
  }

  /* mobile */
  @media (width < 769px) {
    ._horizontal-banner__info {
      padding: 20px;
    }

    ._horizontal-banner__description {
      margin-top: 32px;
    }

    :global(._horizontal-banner__bottom-title) {
      margin-top: 32px;
      font-size: 24px;
      line-height: 1.1em;
    }

    ._horizontal-banner__image {
      display: none;
    }
  }

  /* tablet */
  @media (width >= 769px) {
    ._horizontal-banner {
      display: grid;
      grid-template-columns: 1fr 420px;
      align-items: center;
      gap: 40px;
    }
  }
</style>
